$cornel-red: #BA1013;
$harley-davidson-orange-1: rgba(208, 58, 27, 0.9469);
$harley-davidson-orange-2: rgba(208, 58, 27, 0.88);
$cadmium-orange: rgba(242, 129, 40, 0.88);
$white: #fff;
$black-rock: #2F323E;
$blue-charcoal: #262A34;
$error-color: #f53d3d;

$greys: (
  shuttle-gray: #606A78,
  hit-gray: #A4AEBA,
  solidute: #EBF0F1
);
